log_level: info
servers:
  - listen: 8084
    protocol: http
    routes:
      - matchers:
          - kind: path
            value: /api/v1
        forward_to: grpc://grpcb.in:9000
        transcode:
          proto_descriptor_set: "./config/examples/hello.pb"
