log_level: debug
servers:
  - listen: 8084
    protocol: http
    routes:
      - matchers:
          - kind: path
            value: /api/v1
        forward_to: http://httpbin.org/
        middlewares:
          - kind: authentication
            scheme: jwt
            secret: test
            algorithm: HS256
