# =============================================================================
# File: request_headers.yaml
# Description: Add/remove custom request headers
# =============================================================================
# Adds custom headers to requests before forwarding to backend.
# Also removes specified headers for security or privacy.

log_level: debug
servers:
  - listen: 8084
    protocol: http
    routes:
      - matchers:
          - kind: path
            value: /api/v1
        forward_to: http://127.0.0.1:8090/
        middlewares:
          - kind: request_headers
            add:
              X-Api-Version: "v2"
              X-Request-Source: "my-gateway"
              host: "lsk.com"
            remove:
              - "X-Internal-Debug"
