log_level: info
servers:
  - listen: 8084
    protocol: http
    routes:
      - route_id: test_route
        matchers:
          - kind: path
            value: /api/v1
        forward_to: http://127.0.0.1:8090
        middlewares:
          - kind: forward_headers
