log_level: info
servers:
  - listen: 8084
    protocol: http
    routes:
      - route_id: test_route
        matchers:
          - kind: path
            value: /api/v1
        forward_to:
          kind: file
          doc_root: D:\
        middlewares:
          - kind: rewrite_headers
            expires: 24h
            extensions: [js, css, html, png, jpg, gif]
