log_level: debug
servers:
  - listen: 8084
    protocol: http
    routes:
      - matchers:
          - kind: path
            value: /
        forward_to:
          kind: file
          doc_root: D:\
        middlewares:
          - kind: rewrite_headers
            expires: 24h
            extensions: [js, css, html, png, jpg, gif]
      - matchers:
          - kind: path
            value: /api
        forward_to: http://127.0.0.1:8835
      - matchers:
          - kind: path
            value: /auth
        forward_to: http://127.0.0.1:8835
